# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
.DS_Store
*.md
LICENSE
.gemini-clipboard/
